body {
    margin: 0;
}

#regbtn {
    float: right;
}

#gbtn {
    float: left;
}

#container {
    margin: 0px;
    max-width: 100%;
    padding: 0px;
}

.register {
    text-align: center;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 30px;
    flex-wrap: wrap;
}

.category {
    width: 300px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 30px;
    border-style: dotted;
    border-width: 2px;
    min-height: 100px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
}

.task {
    width: 100%;
    text-align: center;
}